<form class="filter-form">
  <p>
    <label>
      <input
        id="filter-1"
        class="indigo filter"
        name="filter-1"
        value="not started"
        type="checkbox"
      />
      <span>Not started</span>
    </label>
  </p>
  <p>
    <label>
      <input
        id="filter-2"
        class="indigo filter"
        name="filter-2"
        value="in process"
        type="checkbox"
      />
      <span>In process</span>
    </label>
  </p>
  <p>
    <label>
      <input
        id="filter-3"
        class="indigo filter"
        name="filter-3"
        value="solved"
        type="checkbox"
      />
      <span>Solved</span>
    </label>
  </p>
  <button
    class="btn btn-submit waves-effect waves-light indigo darken-4"
    type="submit"
  >
    Filter <i class="material-icons right">filter_list</i>
  </button>
</form>
