<table class="task-table centered highlight">
  <thead>
    <tr class="teal lighten-1 white-text">
      <th>to do</th>
      <th>status</th>
      <th>expected date</th>
      <th>files</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.forEach((task) => { %>
    <tr>
      <td><%=task.summary %></td>
      <td><%=task.status %></td>
      <td><%=task.date %></td>
      <td>
        <% task.files.forEach((file) => { %>
        <a download href="/files/<%= file %>"><%=file %></a> <% }); %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
