
    <form class="task-form" method="post" enctype="multipart/form-data">
      <div class="input-field row">
        <input
          placeholder="Summarize the task"
          id="task"
          type="text"
          name="summary"
          class="validate"
          required
          autofocus
        />
        <label for="task">Task</label>
      </div>
      <div class="radio-input-group">
        <label><span>Status</span></label>
        <p>
          <label>
            <input name="status" value="not started" type="radio" checked />
            <span>Not started</span>
          </label>
        </p>
        <p>
          <label>
            <input name="status" value="in process" type="radio" />
            <span>In process</span>
          </label>
        </p>
        <p>
          <label>
            <input class="indigo" name="status" value="solved" type="radio" />
            <span>Solved</span>
          </label>
        </p>
      </div>
      <div class="input-field row">
        <input id="date" type="date" class="validate" name="date" value=<%=time
        %> required> <label for="date">Expected date of task solving</label>
      </div>
      <div class="input-field  row">
        <div class="file-field input-field">
          <div class="btn">
            <span>Browse</span>
            <input type="file" name="file" id="file" multiple />
          </div>
          <div class="file-path-wrapper">
            <input
              class="file-path validate"
              type="text"
              placeholder="Upload multiple files"
            />
          </div>
        </div>
      </div>
      <button
        class="btn btn-submit waves-effect waves-light indigo darken-4"
        type="submit"
      >
        Submit <i class="material-icons right">send</i>
      </button>
    </form>

