<!DOCTYPE html>
<html>
  <head>
    <title>NodeJS lab</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <link rel="icon" href="../../public/icons/js.png" />
  </head>
  <body>
    <div class="card-panel darken-4">
      Modern programming platforms: server-side rendering
    </div>
    <div class="page-container ">
      <% include ../partials/taskTable %>
      <div class="row form__container">
        <div>
          <div class="sticky-wrapper">
            <% include ../partials/filterForm %> <% include
            ../partials/taskPostingForm %>
          </div>
        </div>
      </div>
    </div>
    <script src="scripts/forms.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
  <html></html>
</html>
