.form__container {
  display: flex;
  justify-content: center;
}
.form__container #task-form {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.radio-input-group {
  width: 100%;
  padding: 0 0 15px 0;
  display: flex;
  white-space: nowrap;
  flex-flow: column wrap;
  justify-content: space-between;
}
.radio-input-group p {
  margin: 0;
}
.radio-input-group label {
  padding-bottom: 10px;
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #1a237e;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  background-color: #1a237e;
}
.file_upload {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s linear;
}
.file_upload.focus {
  box-shadow: 0 0 5px rgba(0, 30, 255, 0.4);
}
.file_upload > button {
  background: #7300df;
  transition: background 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset,
    0 1px 2px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-shadow: #6200bd 0 -1px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.file_upload:hover > button {
  background: #6200bd;
  text-shadow: #5d00b3 0 -1px 0;
}
.file_upload:active > button {
  background: #5d00b3;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}
.card-panel {
  margin: 0 0 1rem 0;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  background-color: #1a237e;
  transition: 0.5s;
}
.card-panel:hover {
  background-color: #26a69a;
  transition: 0.5s;
  letter-spacing: 0.1em;
}
.page-container {
  display: flex;
  width: 100%;
  margin: 0;
  flex-flow: row wrap;
  justify-content: space-around;
}
.task-table {
  order: 1;
  border: 1px solid rgb(223, 222, 222);
  margin: 0 auto;
  max-width: 1000px;
}
.btn-submit {
  width: 100%;
  text-align: right;
}
.sticky-wrapper {
  position: sticky;
  top: 10px;
}
.filter-form {
  margin-bottom: 50px;
}
a:hover {
  color: #1a237e;
  transition: 0.1s;
  cursor: s-resize;
}
a {
  color: #4bb3a8;
  transition: 0.3s;
}
th {
  border-radius: 0;
}
